*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    border: 10px dashed rgb(22, 90, 7);
    border-top: none;
    background-color: #ebb175;
}
.firstRow{
    background-color: rgb(2, 137, 38);
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #bebebe;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    transition: 500ms;
}
.firstRow:hover{
    color: rgb(255, 255, 255);
    transition: 500ms;
}
.flag{
    display: flex;
    justify-content: space-evenly;
}
.flag img{
    width: 200px;
    height: 130px;
    border-radius: 10px;
    border: 1px solid #333;
    transition: 500ms;
}
.flag img:hover{
    transition: 300ms;
    transform: scale(1.1);
}
.Images{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.KingsImage{
    border-radius: 15px;
    -webkit-transition: 1000ms;
}
.KingsImage:hover{
    transform: scale(1.2);
    box-shadow: #333 7px 7px 25px; 
    -webkit-transition: 1000ms;
}
.thirdRow{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 15px;
}
.thirdRow a{
    display: grid;
    align-content: center;
}
.ThirdRowImages{
    width: 200px;
    transition: 500ms;
    border-radius: 15px;
    border: 1px solid #333;
    padding: 10px;
}
.ThirdRowImages:hover{
    transform: scale(1.1);
    transition: 500ms;
}
table, th, td {
    border: 1px solid black;
    margin: 1px;
}
table tr{
    text-align: center;
}
.kingsImages td img{
    width: 100px;
    transition: 200ms;
    border-radius: 7px;
}
.kingsImages img:hover{
    transform: scale(1.1);
    transition: 200ms;
    border-radius: 15px;
}
.kingsNames, th{
    background-color: rgb(79, 241, 42);
    border-radius: 15px;
}
.KingsNames, th, a{
    color: rgb(50, 50, 50);
    transition: 200ms;
    text-decoration: none;
}
.KingsNames, th, a:hover{
    color: rgb(120, 120, 120);
    transition: 200ms;
}
.vedio{
    display: flex;
    justify-content: center;
    margin: 15px;
}
iframe{
    border-radius: 15px;
}